# Module 1 HW

1. Accept the user's first and last name and print them in reverse order with a space between them

In [3]:
x = 'Dylan'
print('Input your First Name : ', x)
y = 'Frye'
print('Input your Last Name : ', y)
print('Hello', y, x)

Input your First Name :  Dylan
Input your Last Name :  Frye
Hello Frye Dylan

2. Accept an integer (n) input from the user and compute the value of n+nn+nnn. For example if n=4 then n + nn + nnn = 4 + 44 + 444 = 492

In [4]:
n = 4
print ('Input an Integer: ', n)
n1 = str(n)
n2 = n1 + n1
n3 = n1 + n1 + n1
n4 = n + int(n2) + int(n3)
print (n4)

Input an Integer:  4
492

3. Ask the user "What country are you from?" then print the following statement: "I have heard that [input] is a beautiful country!"

In [5]:
print('What country are you from?')
c = 'USA'
print('I have heard that', c, 'is a beautiful country!')

What country are you from?
I have heard that USA is a beautiful country!

4. What is the output of the following Python code

x = 10
y = 50
if (x ** 2 > 100 and y < 100):
    print(x, y)

In [15]:
x = 10
y = 50
if (x ** 2 > 100 and y < 100):
    print(x, y)
#Output is none

5. What is the output of the following addition (+) operator, and why does this code chunk execute this way?

a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)

In [16]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)
#Because b and a reference the same object, it changes both results

[10, 20, 30, 40]
[10, 20, 30, 40]

6. What is the output of the following code and what arithmetic operators is being used here? print(2%6)

In [13]:
print(2%6)
#Modulus is being used here

2

7. What is the output of the following code and what arithmetic operators are used here? print(2 * 3 ** 3 * 4)

In [14]:
print(2 * 3 ** 3 * 4)
#Operator and exponent are being used here

216

8. What is a text editor?

A program that edits plain text

9. What is python?

An object oreinted programming language.

10. What is jupyter notebook, what type of python environment is it, and what alternatives are there to jupyter notebook?

Jupyter Notebook is a computational notebook, in a web-based internet development environment (IDE). There are many alternatives to Jupyter Notebook such as RStudio,RodeoIDE, etc.